body,ul,h1,h2,p{
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
    min-height:100vh;
    font-family: Helvetica,sans-serif; 
}

ul{
    display:flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    gap:10px;
}

a{
    text-decoration: none;
}

.lightsubt{
    font-size:24px;
    font-weight: bold;
    color:#F9FAF8
}

.lightsubl{
    font-size: 18px;
    color:#E5E7EB;
}

.lightbt{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8
}

.outer{
    padding:0px 180px;/*top right ,bottom left*/
}

#header{
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
}

#header .left{
    display:flex;
}

#front{
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
}

#front .left{
    width:450px;
}

#cards{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#cards ul{
    justify-content: space-evenly;
    gap:50px;
}

#cards li{
    width:150px;
    text-align:center;
}

#cards img{
    height:150px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}
#quote{
    background-color: #E5E7EB;
}

#quote div{
    width:825px;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#1F2937;
}
#quote h2{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
#quote p{
    margin-left:auto;
    font-weight:bold;
}

#footer{
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
}