body {
    display: flex;
    flex-direction: column;
    min-height:100vh;
    font-family: Helvetica,sans-serif; 
    margin:0;
}

ul{
    display:flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

h1{
    margin:0;
    
}

h2{
    margin:0;
}

p{
    margin:0;
}

.darkb{
    background-color: #1F2937;
}

.greyb {
    background-color: #E5E7EB;
}

.lightsubt{
    font-size:24px;
    font-weight: bold;
    color:#F9FAF8
}

.lightsubl{
    font-size: 18px;
    color:#E5E7EB;
}

.lightbt{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8
}

.outer{
    padding:0px 180px;/*top right ,bottom left*/
}

#header{
    display:flex;
    justify-content: space-between;
}

#header .left{
    display:flex;
}

#front{
    display:flex;
    justify-content: space-between;
}

#front .left{
    width:450px;
}

#cards{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#cards li{
    width:150px;
}