body {
    display: flex;
    flex-direction: column;
    min-height:100vh;
    font-family: Helvetica,sans-serif; 
}

.header, .face {
    background-color: #1F2937;
    color:#F9FAF8;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
}

.face{
    font-size: 48px;
    font-weight: bolder;
}

.left {
    font-size: 24px;
    font-weight: bold;
    display:flex;
    gap:10px;
}

ul {
    list-style: none;
    display:flex;
    margin:0;
    padding:0;
    gap: 10px;
}

a {
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}
